<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %} - PluralSightReader</title>
    <link href='{{ path_for('home') }}style.css' rel='stylesheet' type='text/css'/>
    {% block head %}
    {% endblock %}
</head>
<body>
<div id="header">
    {% if settings.google.clientId and session.signedIn == false %}
        <a href="#" id="google-sign-in"><i class="fas fa-sign-in-alt"></i>Sign in</a>
    {% endif %}
    {% if settings.google.clientId and session.signedIn %}
        <a href="#" id="google-sign-out" onclick="signOut();"><i class="fas fa-sign-out-alt"></i>Sign out</a>
        <a href="{{ path_for('csv') }}"><i class="fas fa-download" title="go to homepage"></i>Csv</a>
    {% endif %}
    <a href="{{ path_for('home') }}"><i class="fas fa-home" title="go to homepage"></i>Home</a>
    <a href="{{ path_for('recent') }}"><i class="fas fa-concierge-bell" title="go to recent"></i>Recent</a>
</div>
<div id="content" data-session-id="{{ sessionId }}">
     {% block content %}{% endblock %}
</div>
<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.6.3/css/solid.css" integrity="sha384-+0VIRx+yz1WBcCTXBkVQYIBVNEFH1eP6Zknm16roZCyeNg2maWEpk/l/KsyFKs7G" crossorigin="anonymous">
<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.6.3/css/fontawesome.css" integrity="sha384-jLuaxTTBR42U2qJ/pm4JRouHkEDHkVqH0T1nyQXn1mZ7Snycpf6Rl25VBNthU4z0" crossorigin="anonymous">
<!-- jQuery: required (tablesorter works with jQuery 1.2.3+) -->
<script src="{{ path_for('home') }}jquery-1.2.6.min.js"></script>
<!-- Pick a theme, load the plugin & initialize plugin -->
<script src="{{ path_for('home') }}jquery.tablesorter.min.js"></script>
<script src="{{ path_for('home') }}jquery.tablesorter.widgets.min.js"></script>
{% if settings.google.clientId %}
    <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
    <script>
        function init() {
            gapi.load('auth2', function() {
                gapi.auth2.init({
                    client_id: '{{ settings.google.clientId }}',
                    scope: 'profile email https://www.googleapis.com/auth/spreadsheets.readonly'
                }).then(function(){
                    var btn = document.getElementById('google-sign-in');
                    if(btn){
                        attachSignIn(btn);
                    }
                });
            });
        }

        function attachSignIn(element) {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.attachClickHandler(element, {},
                onSignIn,
                function (error) {
                    console.log(JSON.stringify(error, undefined, 2));
                }
            );
        }

        function onSignIn(googleUser) {
            var authResponse = googleUser.getAuthResponse(true);
            var id_token = authResponse.id_token;
            var access_token = authResponse.access_token;
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '{{ path_for('home') }}tokensignin');
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onload = function() {
                window.location.href = '{{ path_for('home') }}';
            };
            xhr.send('idtoken=' + id_token + '&accesstoken=' + access_token);
        }

        function signOut() {
            console.log('sign out clicked');
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                var xhr = new XMLHttpRequest();
                xhr.open('GET', '{{ path_for('home') }}tokensignout');
                xhr.onload = function() {
                    window.location.href = '{{ path_for('home') }}';
                };
                xhr.send(null);
            });
        }
    </script>
{% endif %}
<script>
    $(function(){
        $('table').tablesorter({
            sortReset      : true,
            sortRestart    : true
        });
    });
</script>
{% block script %}
{% endblock %}
</body>
</html>